@charset "utf-8";

/* CONFIGURAÇÕES DE ESTILO GLOBAIS */

 @import url('https://fonts.googleapis.com/css2?family=IBM+Plex+Sans:ital,wght@0,400;0,500;0,700;1,200;1,400;1,700&display=swap');

 @import url('https://fonts.googleapis.com/css2?family=Libre+Franklin:wght@900&display=swap');

* {
    --cor_1: #fff;
    --cor_2: #326789;
    --cor_3: #78A6C8;
    --cor_4: #e9eef2;
    --cor_5: #e65c4f;
    --cor_6: #4A0D67;
    --cor_7: #040C0B;
    --cor_8: #ececec;
    --cor_9: #c2c2c2;
    --cor_10: #ff9f1c;
    --cor_11: #0ead69;
  
    --shadow_1: 0px 0px 1px rgba(0, 0, 0, 0.078), 0px 0px 2.6px rgba(0, 0, 0, 0.111),0px 0px 5.3px rgba(0, 0, 0, 0.139), 0px 0px 11px rgba(0, 0, 0, 0.172), 0px 0px 30px rgba(0, 0, 0, 0.25);

    --font_1: 'IBM Plex Sans', system-ui, sans-serif;
    --font_2: 'Libre Franklin', system-ui, sans-serif;

    /* VÁRIAVEL COM ENDEREÇO DAS IMAGENS */
    --img_1: url("../img/blob-background.svg");
    --img_2: url("../img/blob-background.jpg");
}