@charset "UTF-8";

/* ESTILOS ADICIONAIS E CUSTOMIZADOS */

/* ================ ELEMENTOS DO CABEÇALHO ================ */

body {
    font-family: var(--font_1);
    background: var(--img_1) no-repeat fixed;
}

.saudacao {
    font-family: var(--font_2);
    color: var(--cor_5);
}

p {
    line-height: 1.5em;
}

img {
    max-height: 250px;
    max-width: 250px;
}

/* ================ ELEMENTOS DO FORMULÁRIO ================ */

.form {
    background-color: var(--cor_1);
    box-shadow: var(--shadow_1);
}

.border-textarea {
    border-top: 2px solid var(--cor_6);
    border-left: 2px solid var(--cor_6);
    border-right: 2px solid var(--cor_6);
}

.baixa {
    color: var(--cor_3);
}

.media {
    color: var(--cor_10);
}

.alta {
    color: var(--cor_5);
}

.tarefa-concluida {
    color: var(--cor_11);
}

.btn-cadastro {
    background-color: var(--cor_3);
    border-color: var(--cor_3);
}

.btn-cadastro:hover {
    background-color: var(--cor_2);
    border-color: var(--cor_2);
    box-shadow: var(--shadow_1);
}

.btn-link {
    border: 2px solid var(--cor_2);
}

.btn-link:hover {
    background-color: var(--cor_2);
    border-color: var(--cor_2);
    box-shadow: var(--shadow_1);
    color: var(--cor_1);
}

.link  {
    text-decoration: none;
    color: var(--cor_2);  
}

.link:hover {
    color: var(--cor_1);
}

/* ================ ELEMENTOS DA TABELA ================ */

.titles {
    color: var(--cor_5);
}

table {
    background-color: var(--cor_4);
}

thead {
    background-color: var(--cor_2);
    color: var(--cor_1);
}

td > a {
    text-decoration: none;
}

.excluir, .bi-trash {
    color: var(--cor_5);
}

/* ================ NOVO BACKGROUND DO BODY PARA DISPOSITIVOS MÓVEIS ================ */

@media (max-width: 576px) {
    body {
        background-image: none;
        background-color: var(--cor_4);
    }
}
