@charset "utf-8";

/* ESTILOS ADICIONAIS E CUSTOMIZADOS */

body {
    background: var(--cor_9);
    font-family: var(--font_2);
}

img {
    max-height: 250px;
    max-width: 250px;
}

.form {
    background-color: var(--cor_1);
    border: 2px solid var(--cor_8);
    box-shadow: var(--shadow_1);
}

.titles {
    color: var(--cor_1);
}

table {
    background-color: var(--cor_1);
}

button > a {
    text-decoration: none;
}

button > a:hover {
    color: var(--cor_1);
}

thead {
    background-color: var(--cor_7);
    color: var(--cor_1);
}

.baixa {
    color: var(--cor_4);
}

.media {
    color: var(--cor_2);
}

.alta {
    color: var(--cor_5);
}

td > a {
    text-decoration: none;
}

.excluir, .bi-trash {
    color: var(--cor_5);
}
